<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://broadpeak.tv/simid-demo-tizen" version="0.1.0" viewmodes="fullscreen">
  <tizen:application id="SMDBPKWOS1.SimidDemoTizen" package="SMDBPKWOS1" required_version="6.0"/>
  <content src="index.html"/>
  <name>Broadpeak SIMID Demo</name>
  <icon src="icon.png"/>
  <feature name="http://tizen.org/feature/screen.size.all"/>
  <tizen:profile name="tv-samsung"/>
  <tizen:privilege name="http://tizen.org/privilege/internet"/>
  <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
  <tizen:setting screen-orientation="landscape" context-menu="disable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
